# AWS
AWS_IDENTITY_POOL_ID=
AWS_USER_POOL_ID=
AWS_CLIENT_ID=


# React
PORT=80
REACT_APP_BACK_URL=http://localhost:3000

REACT_APP_AWS_IDENTITY_POOL_ID=${AWS_IDENTITY_POOL_ID}
REACT_APP_AWS_USER_POOL_ID=${AWS_USER_POOL_ID}
REACT_APP_AWS_CLIENT_ID=${AWS_CLIENT_ID}
