# AWS
AWS_IDENTITY_POOL_ID=
AWS_USER_POOL_ID=
AWS_CLIENT_ID=

# React
REACT_APP_AWS_IDENTITY_POOL_ID=${AWS_IDENTITY_POOL_ID}
REACT_APP_AWS_USER_POOL_ID=${AWS_USER_POOL_ID}
REACT_APP_AWS_CLIENT_ID=${AWS_CLIENT_ID}
